<%include partials/header%>
<link href="match.css" rel="stylesheet">

<h1>Match page</h1>

<div class="topBar">
    <p class="radiant">THE RADIANT</p>
    <div class="topBarRight">
        <p><span class="addPadding">LANE</span><span class="addPadding">LVL</span><span class="addPadding">K</span><span class="addPadding">D</span>
        <span class="addPadding">A</span><span class="addPadding">D</span><span class="addPadding">LH</span>/<span class="addPadding">DN</span>
        <span class="addPadding">GPM</span>/<span class="addPadding">XPM</span><span class="addPadding">HD</span><span class="addPadding">TD</span>
        <span class="addPadding">G</span>
        </p>
    </div>
</div>
<div class="container">
    <% var counter =0;%>
    
    <% players.forEach(player => { %>
        
        
        
        
        
        <% if(++counter < 6){%> 
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    
                    <img class = heroI src="<%=player.hero_id.name%>.png">
                    <div class="nameDiv addPadding">
                        <p><%=player.personaname%></p>
                        <p>Rank</p>
                    </div>
                    <div class="laneDiv addPadding">
                        <p><span class="winLane">Won</span><span class="lane">Top</span></p>
                    </div>
                    <div class=" lvlDiv addPadding">
                        <p>20</p>
                    </div>
                    <div class="addPadding">
                        <p>8</p>
                    </div>
                    <div class="addPadding">
                        <p>1</p>
                    </div>
                    <div class="addPadding">
                        <p>11</p>
                    </div>
                    <div class="addPadding">
                        <p>11</p>
                    </div>
                    <div class="slashLeft">
                        <p>227</p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight">
                        <p>15</p>
                    </div>
                    <div class="slashLeft">
                        <p>267</p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight">
                        <p>448</p>
                    </div>
                    <div class="addPadding">
                        <p>21.3k</p>
                    </div>
                    <div class="addPadding">
                        <p>1.2k</p>
                    </div>
                    <div class="goldDiv addPadding">
                        <p>21.8k</p>
                    </div>
                </div>
            </a>
        <%}%>
        <% if(counter === 6){%>
            </div>
            <div class="topBar">
                <p class="dire">THE DIRE</p>
                <div class="topBarRight">
                    <p><span class="addPadding">LANE</span><span class="addPadding">LVL</span><span class="addPadding">K</span><span class="addPadding">D</span>
                        <span class="addPadding">A</span><span class="addPadding">D</span><span class="addPadding">LH</span>/<span class="addPadding">DN</span>
                        <span class="addPadding">GPM</span>/<span class="addPadding">XPM</span><span class="addPadding">HD</span><span class="addPadding">TD</span>
                        <span class="addPadding">G</span>
                    </p>
                </div>
            </div>
            <div class="container">
        <%}%>

        <% if(counter >= 6){%> 
            
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    
                    <img class = heroI src="<%=player.hero_id.name%>.png">
                    <div class="nameDiv addPadding">
                        <p><%=player.personaname%></p>
                        <p>Rank</p>
                    </div>
                    <div class="laneDiv addPadding">
                        <p><span class="winLane">Won</span><span class="lane">Top</span></p>
                    </div>
                    <div class=" lvlDiv addPadding">
                        <p>20</p>
                    </div>
                    <div class="addPadding">
                        <p>8</p>
                    </div>
                    <div class="addPadding">
                        <p>1</p>
                    </div>
                    <div class="addPadding">
                        <p>11</p>
                    </div>
                    <div class="addPadding">
                        <p>11</p>
                    </div>
                    <div class="slashLeft">
                        <p>227</p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight">
                        <p>15</p>
                    </div>
                    <div class="slashLeft">
                        <p>267</p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight">
                        <p>448</p>
                    </div>
                    <div class="addPadding">
                        <p>21.3k</p>
                    </div>
                    <div class="addPadding">
                        <p>1.2k</p>
                    </div>
                    <div class="goldDiv addPadding">
                        <p>21.8k</p>
                    </div>
                <div class="itemdiv">
                    <=
                </div>
                    <% players.forEach(player => { %>

                    <%});%>
                </div>
            </a>
                        
                    
                
            
        <%}%>
        
    <%});%>
</div>



<script type="text/javascript" src="match.js"></script>
<%include partials/footer%>


