<%include partials/header%>
<link href="match.css" rel="stylesheet">

<h1>Match page</h1>

<p class="team">Team One</p>
<div class="container">
    <% var counter =0;%>
    
    <% players.forEach(player => { %>
        
        
        
        
        
        <% if(++counter < 6){%> 
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    
                    <img class = heroI src="<%=player.hero_id.name%>.png">
                    <div class="nameDiv addPadding">
                        <p><%=player.personaname%></p>
                        <p>Rank</p>
                    </div>
                    <div class="laneDiv addPadding">
                        <p><span class="winLane">Won</span><span class="lane">Top</span></p>
                    </div>
                </div>
            </a>
        <%}%>
        <% if(counter === 6){%>
            </div>
            <p class="team">Team Two</p>
            <div class="container">
        <%}%>

        <% if(counter >= 6){%> 
            
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    <img class = heroI src="<%=player.hero_id.name%>.png">
                    <%=player.personaname%>
                </div>
            </a>
                        
                    
                
            
        <%}%>
        
    <%});%>
</div>



<script type="text/javascript" src="match.js"></script>
<%include partials/footer%>


