<%include partials/header%>
<link href="match.css" rel="stylesheet">

<nav class="navbar ">
  <a class="navbar-brand" href="/">ChiDBuff</a>
    <div class="formDiv">
        <form class="formLeft" action="/match" method= "GET">
            <input class="form-control  secondForm" type="text" name="mid" placeholder="Match ID" aria-label="Search">
        </form>
        <form class="formRight" action="/results" method= "GET">
            <input class="form-control firstForm" type="text" name="id" placeholder="Player ID" aria-label="Search">
        </form>
    </div>
</nav>


<%if(matchStats.radiant_win === true){ %>
    <h1 class= "topText"><span class="rad">Radiant </span> Victory</h1>
<%}else{%>
    <h1 class= "topText"><span class="dir">Dire </span> Victory</h1>
<%}%>
<div class="topBar">
    <p class="radiant">THE RADIANT</p>
    <div class="topBarRight">
        <p><span class="addTBPadding">LANE</span><span class="addTBPadding">LVL</span><span class="low k">K</span><span class="low">D</span>
        <span class="low">A</span><span class="addTBPadding"></span><span >LH</span>/<span class=>DN</span><span class="addTBPadding"></span>
        <span >GPM</span>/<span >XPM</span><span class="addTBPadding"></span><span class="addTBPadding">HD</span><span class="addTBPadding">TD</span>
        <span class="addTBPadding">G</span>
        </p>
    </div>
</div>
<div class="container">
    <% var counter =0;%>
    
    <% players.forEach(player => { %>
        
        
        
        
        
        <% if(++counter < 6){%> 
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    
                    <img class = heroI id="one"src="<%=player.hero_id.name%>.png">
                    <div class="nameDiv">
                        <p><%=player.personaname%></p>
                        <div class="rankDiv">
                            <p class="rankP">Rank</p>
                            <%if(player.rank_tier != null){%>
                                <img class="playerrank" src="<%=player.rank_tier%>.png">
                            <%}else{%>
                                <img class="playerrank" src="00.png">
                            <%}%>
                        </div>
                    </div>
                    <div class="laneDiv addPadding long">
                        <p><span class="winLane">Won</span><span class="lane">Top</span></p>
                    </div>
                    <div class="lvlDiv addPadding short padRight">
                        <p><%=player.level%></p>
                    </div>
                    <div class="addPadding short kills">
                        <p><%=player.kills%></p>
                    </div>
                    <div class="addPadding short dnDiv">
                        <%=player.deaths%>
                    </div>
                    <div class="addPadding short padRight assists">
                        <p><%=player.assists%></p>
                    </div>
                    
                    <div class="slashLeft medium LH">
                        <p><%=player.last_hits%></p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight short padRight denies">
                        <p><%=player.denies%></p>
                    </div>
                    <div class="slashLeft medium gpm">
                        <p><%=player.gold_per_min%></p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight medium padRight xpm">
                        <p><%=player.xp_per_min%></p>
                    </div>

                     <%var HD =  player.hero_damage.toString(10)%>
                     <%var TD =  player.tower_damage.toString(10)%>
                     <%var G =  player.total_gold.toString(10)%>

                    <div class="addPadding long padRight HD" >
                        <p><%=(HD/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="addPadding long padRight TD">
                        <p><%=(TD/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="goldDiv addPadding long padRight G">
                        <p><%=(G/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="itemdiv">
                        
                        

                        <%var itemTime0%>
                        <%var itemTime1%>
                        <%var itemTime2%>
                        <%var itemTime3%>
                        <%var itemTime4%>
                        <%var itemTime5%>

                        <%var itemFlTime0%>
                        <%var itemFlTime1%>
                        <%var itemFlTime2%>
                        <%var itemFlTime3%>
                        <%var itemFlTime4%>
                        <%var itemFlTime5%>
                        
                        <%var itemObj=player.first_purchase_time %>
                        
                        <%if(player.item_0 !=="default") { %>
                            <%var img0 = (player.item_0.name).toLowerCase()%>
                        <%}else{%>
                            <%var img0 = 0%>
                        <%}%>

                        <%if(player.item_1 !=="default") { %>
                            <%var img1 = (player.item_1.name).toLowerCase()%>
                        <%}else{%>
                            <%var img1 = 0%>
                        <%}%>
                        
                        <%if(player.item_2 !=="default") { %>
                            <%var img2 = (player.item_2.name).toLowerCase()%>
                        <%}else{%>
                            <%var img2 = 0%>
                        <%}%>
                        <%if(player.item_3 !=="default") { %>
                            <%var img3 = (player.item_3.name).toLowerCase()%>
                        <%}else{%>
                            <%var img3 = 0%>
                        <%}%>
                        
                        <%if(player.item_4 !=="default") { %>
                            <%var img4 = (player.item_4.name).toLowerCase()%>
                        <%}else{%>
                            <%var img4 = 0%>
                        <%}%>

                        <%if(player.item_5 !=="default") { %>
                            <%var img5 = (player.item_5.name).toLowerCase()%>
                        <%}else{%>
                            <%var img5 = 0%>
                        <%}%>
                        

                        
                        <%for( var item in itemObj){ %>
                            <%if(item == img0){%>
                                <%itemFlTime0 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime0 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img1){%>
                                <%itemFlTime1 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime1 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img2){%>
                                <%itemFlTime2 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime2 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img3){%>
                                <%itemFlTime3 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime3 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img4){%>
                                <%itemFlTime4 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime4 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img5){%>
                                <%itemFlTime5 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime5 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                           
                        <%}%>
                        
                        <div class="icon-wrapper">
                            <%if(itemTime0 != 0){%>
                                <div class="icon-text"><%=itemTime0%>:<%=((itemFlTime0)<10?0+itemFlTime0.toString():itemFlTime0 )%></div>
                            <%}%>
                            <img class = itemI src="<%=player.item_0.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime1%>:<%=((itemFlTime1)<10?0+itemFlTime1.toString():itemFlTime1 )%></div>
                            <img class = itemI src="<%=player.item_1.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime2%>:<%=((itemFlTime2)<10?0+itemFlTime2.toString():itemFlTime2 )%></div>
                            <img class = itemI src="<%=player.item_2.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime3%>:<%=((itemFlTime3)<10?0+itemFlTime3.toString():itemFlTime3 )%></div>
                            <img class = itemI src="<%=player.item_3.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime4%>:<%=((itemFlTime4)<10?0+itemFlTime4.toString():itemFlTime4 )%></div>
                            <img class = itemI src="<%=player.item_4.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime5%>:<%=((itemFlTime5)<10?0+itemFlTime5.toString():itemFlTime5 )%></div>
                            <img class = itemI src="<%=player.item_5.name%>.png">
                        </div>
                       
                    
                    </div>
                </div>
            </a>
        <%}%>
        <% if(counter === 6){%>
            </div>
            <div class="topBar">
                <p class="dire">THE DIRE</p>
                <div class="topBarRight">
                    <p><span class="addTBPadding">LANE</span><span class="addTBPadding">LVL</span><span class="low k">K</span><span class="low">D</span>
                    <span class="low">A</span><span class="addTBPadding"></span><span >LH</span>/<span class=>DN</span><span class="addTBPadding"></span>
                    <span >GPM</span>/<span >XPM</span><span class="addTBPadding"></span><span class="addTBPadding">HD</span><span class="addTBPadding">TD</span>
                    <span class="addTBPadding">G</span>
                    </p>
                </div>
            </div>
            <div class="container">
        <%}%>

        <% if(counter >= 6){%> 
            
            <a href = "/results?id=<%=player.account_id%>">
                <div class="playerDiv">
                    
                    <img class = heroI id="one"src="<%=player.hero_id.name%>.png">
                    <div class="nameDiv">
                        <p><%=player.personaname%></p>
                        <div class="rankDiv">
                            <p class="rankP">Rank</p>
                            <%if(player.rank_tier != null){%>
                                <img class="playerrank" src="<%=player.rank_tier%>.png">
                            <%}else{%>
                                <img class="playerrank" src="00.png">
                            <%}%>
                        </div>
                    </div>
                    <div class="laneDiv addPadding long">
                        <p><span class="winLane">Won</span><span class="lane">Top</span></p>
                    </div>
                    <div class="lvlDiv addPadding short padRight">
                        <p><%=player.level%></p>
                    </div>
                    <div class="addPadding short kills">
                        <p><%=player.kills%></p>
                    </div>
                    <div class="addPadding short dnDiv">
                        <%=player.deaths%>
                    </div>
                    <div class="addPadding short padRight assists">
                        <p><%=player.assists%></p>
                    </div>
                    
                    <div class="slashLeft medium LH">
                        <p><%=player.last_hits%></p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight short padRight denies">
                        <p><%=player.denies%></p>
                    </div>
                    <div class="slashLeft medium gpm">
                        <p><%=player.gold_per_min%></p>
                    </div>
                    <div>
                        <p>/</p>
                    </div>
                    <div class="slashRight medium padRight xpm">
                        <p><%=player.xp_per_min%></p>
                    </div>

                     <%var HD =  player.hero_damage.toString(10)%>
                     <%var TD =  player.tower_damage.toString(10)%>
                     <%var G =  player.total_gold.toString(10)%>

                    <div class="addPadding long padRight HD" >
                        <p><%=(HD/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="addPadding long padRight TD">
                        <p><%=(TD/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="goldDiv addPadding long padRight G">
                        <p><%=(G/1000).toPrecision(3)%>k</p>
                    </div>
                    <div class="itemdiv">
                        
                        

                        <%var itemTime0%>
                        <%var itemTime1%>
                        <%var itemTime2%>
                        <%var itemTime3%>
                        <%var itemTime4%>
                        <%var itemTime5%>

                        <%var itemFlTime0%>
                        <%var itemFlTime1%>
                        <%var itemFlTime2%>
                        <%var itemFlTime3%>
                        <%var itemFlTime4%>
                        <%var itemFlTime5%>
                        
                        <%var itemObj=player.first_purchase_time %>
                        
                        <%if(player.item_0.name ==="default") { %>
                            <%var img0 = (player.item_0.name).toLowerCase()%>
                        <%}else{%>
                            <%var img0 = 0%>
                        <%}%>

                        <%if(player.item_0 !=="default") { %>
                            <%var img0 = (player.item_0.name).toLowerCase()%>
                        <%}else{%>
                            <%var img0 = 0%>
                        <%}%>

                        <%if(player.item_1 !=="default") { %>
                            <%var img1 = (player.item_1.name).toLowerCase()%>
                        <%}else{%>
                            <%var img1 = 0%>
                        <%}%>
                        
                        <%if(player.item_2 !=="default") { %>
                            <%var img2 = (player.item_2.name).toLowerCase()%>
                        <%}else{%>
                            <%var img2 = 0%>
                        <%}%>
                        <%if(player.item_3 !=="default") { %>
                            <%var img3 = (player.item_3.name).toLowerCase()%>
                        <%}else{%>
                            <%var img3 = 0%>
                        <%}%>
                        
                        <%if(player.item_4 !=="default") { %>
                            <%var img4 = (player.item_4.name).toLowerCase()%>
                        <%}else{%>
                            <%var img4 = 0%>
                        <%}%>

                        <%if(player.item_5 !=="default") { %>
                            <%var img5 = (player.item_5.name).toLowerCase()%>
                        <%}else{%>
                            <%var img5 = 0%>
                        <%}%>
                        

                        
                        <%for( var item in itemObj){ %>
                            <%if(item == img0){%>
                                <%itemFlTime0 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime0 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img1){%>
                                <%itemFlTime1 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime1 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img2){%>
                                <%itemFlTime2 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime2 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img3){%>
                                <%itemFlTime3 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime3 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img4){%>
                                <%itemFlTime4 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime4 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                            <%if(item == img5){%>
                                <%itemFlTime5 = (Math.floor((itemObj[item]/60 - Math.floor(itemObj[item]/60))*60))%>
                                <%itemTime5 = Math.floor(itemObj[item]/60)%>
                            <%}%>
                           
                        <%}%>
                        
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime0%>:<%=((itemFlTime0)<10?0+itemFlTime0.toString():itemFlTime0 )%></div>
                            <img class = itemI src="<%=player.item_0.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime1%>:<%=((itemFlTime1)<10?0+itemFlTime1.toString():itemFlTime1 )%></div>
                            <img class = itemI src="<%=player.item_1.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime2%>:<%=((itemFlTime2)<10?0+itemFlTime2.toString():itemFlTime2 )%></div>
                            <img class = itemI src="<%=player.item_2.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime3%>:<%=((itemFlTime3)<10?0+itemFlTime3.toString():itemFlTime3 )%></div>
                            <img class = itemI src="<%=player.item_3.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime4%>:<%=((itemFlTime4)<10?0+itemFlTime4.toString():itemFlTime4 )%></div>
                            <img class = itemI src="<%=player.item_4.name%>.png">
                        </div>
                        <div class="icon-wrapper">
                            <div class="icon-text"><%=itemTime5%>:<%=((itemFlTime5)<10?0+itemFlTime5.toString():itemFlTime5 )%></div>
                            <img class = itemI src="<%=player.item_5.name%>.png">
                        </div>
                       
                    
                    </div>
                </div>
            </a>
                        
        <%}%>
        
    <%});%>
</div>

<p class ="invis" id="gAdv"><%=matchStats.radiant_gold_adv%></p>
<p class ="invis" id="xpAdv"><%=matchStats.radiant_xp_adv%></p>


<div id="chartContain">
    <canvas id="myChart" width="10" height="10"></canvas>
</div>
<script data-main="match.js" src="require.js"></script>

<div class="extraSpace"></div>

<%include partials/footer%>