<%include partials/header%>

<div class=playerdiv>
    <img id="playerimg" src=<%=player.profile.avatarfull%>>
    <%= player.profile.personaname%>
</div>

<div class=container>
    <h1 id=topContain>Match History</h1>
    <% id.forEach(match => { %>
        <a href = "/match?mid=<%=match.match_id%>">
            <div class=matchDiv>
                <img class = heroI src="<%=match.hero_id.name%>.png">
                
                <div class="leftDiv">
                    <p>
                        <%=match.hero_id.localized_name%>
                    </p>
                    <p>
                        <%=match.start_time%>    
                    </p>

                    
                </div>
                <div class="middleDiv">
                    <p class="winner">
                        <%=match.radiant_win%> 
                    </p>  
                </div>
            </div>
        </a>
    <%});%>
</div>


<script type="text/javascript" src="results.js"></script>
<%include partials/footer%>

