<%include partials/header%>

<div class=playerdiv>
    <img id="playerimg" src=<%=player.profile.avatarfull%>>
    <div id = "innerdiv">
        <div id="namediv"><%= player.profile.personaname%></div>
        <div class="wldivs">
            WINS
            <p><span id="wins"><%=wl.wins%></span></p>
        </div>
        <div class="wldivs">
            LOSSES
            <p><span id="losses"><%=wl.losses%></span></p>
        </div>
        <div class="wldivs">
            WINRATE
            <%=Math.round(wl.winrate * 100) / 100%>%
        </div>
        <img id="playerrank" src="<%=player.rank_tier%>.png">
    </div>
</div>


<div class=container>
    <h1 id=topContain>Match History</h1>
    <% id.forEach(match => { %>
        <a href = "/match?mid=<%=match.match_id%>">
            <div class=matchDiv>
                <img class = heroI src="<%=match.hero_id.name%>.png">
                
                <div class="leftDiv">
                    <p>
                        <%=match.hero_id.localized_name%>
                    </p>
                    <p>
                        <%=match.start_time%>    
                    </p>

                    
                </div>
                <div class="middleDiv">
                    <p class="winner">
                        <%=match.radiant_win%> 
                    </p>  
                </div>
            </div>
        </a>
    <%});%>
</div>


<script type="text/javascript" src="results.js"></script>
<%include partials/footer%>

