<%include partials/header%>
<link href="results.css" rel="stylesheet">

<nav class="navbar ">
  <a class="navbar-brand" href="/">ChiDBuff</a>
    <div class="formDiv">
        <form class="formLeft" action="/match" method= "GET">
            <input class="form-control  secondForm" type="text" name="mid" placeholder="Match ID" aria-label="Search">
        </form>
        <form class="formRight" action="/results" method= "GET">
            <input class="form-control firstForm" type="text" name="id" placeholder="Player ID" aria-label="Search">
        </form>
    </div>
</nav>

<div class="spaceDiv"></div>

<div class=playerdiv>
    <img id="playerimg" src=<%=player.profile.avatarfull%>>
    <div id = "innerdiv">
        <div id="namediv"><%= player.profile.personaname%></div>
        <div class="wldivs">
            WINS
            <p class="longP"><span id="wins"><%=wl.wins%></span></p>
        </div>
        <div class="wldivs">
            LOSSES
            <p class="longP"><span id="losses"><%=wl.losses%></span></p>
        </div>
        <div class="wldivs" id="WR">
            WINRATE
            <%=Math.round(wl.winrate * 100) / 100%>%
        </div>
        
    </div>
    <%if(player.rank_tier != null){%>
        <img id="playerrank" src="<%=player.rank_tier%>.png">
    <%}else{%>
        <img id="playerrank" src="00.png">
    <%}%>
</div>


<div class=container>
    <h1 id=topContain>Match History</h1>
    <% id.forEach(match => { %>
        <a href = "/match?mid=<%=match.match_id%>">
            <div class="matchDiv">
                <img class = heroI src="<%=match.hero_id.name%>.png">
                
                <div class="leftDiv">
                    <p class="longP">
                        <%=match.hero_id.localized_name%>
                    </p>
                    <p class="longP">
                        <%=match.start_time%>    
                    </p>

                    
                </div>
                <div class="middleDiv">
                    <p class="winner">
                        <%=match.radiant_win%> 
                    </p>  
                </div>
                <div class ="rightdiv">
                    <div class="textdiv">
                        <p class = "kills"><%=match.kills%></p>/
                        <p class="deaths"><%=match.deaths%></p>/
                        <p class="assists"><%=match.assists%></p>
                    </div>

                    <div class= "bardiv"> 
                        <div class="killdiv">
                    
                            <div class="killbar"></div>
                        </div>
                        <div class="deathdiv">
                            
                            <div class="deathbar"></div>
                        </div>
                        <div class="assistdiv">
                        
                            <div class="assistbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    <%});%>
</div>


<script type="text/javascript" src="results.js"></script>
<%include partials/footer%>

